* {
  font-family: "Raleway", sans-serif;
}
body {
  /* background: rgb(58, 139, 163);
  background: linear-gradient(0deg, rgb(91 189 245) 0%, rgb(27 99 148) 100%); */
  min-height: 100vh;
}

/* .card {
  box-shadow: 1px 1px 10px gray;
} */

.text-underline {
  text-decoration: underline;
}

.card-custom {
  width: 80%;
  margin: 0 auto;
}
.card-body h1 {
  color: #424242;
}

.form-container {
  width: 70%;
  margin: 0 auto;
}
